@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   
    <h3><p class="lead"><center>Sistema Para Encontro de Iniciação Científica da Fatea</center></p></h3>
   
</div>
@if (User.IsInRole("ADMINISTRADOR")) {
<div class="row">
    <div class="col-md-4">
        <h2>CURSOS</h2>
        <p>
            Cadastre os cursos que participarão do evento!
        </p>
        <p><a class="btn btn-default" href="http://localhost:12849/Cursos/Create">Cadastrar Curso &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>EVENTOS</h2>
        <p>Cadastre o evento que será realizado na FATEA.</p>
        <p><a class="btn btn-default" href="http://localhost:12849/Eventos/Create">Cadastrar Evento &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>DISTRIBUIR AVALIAÇÕES</h2>
        <p>Distribua os trabalhos para os avaliadores!</p>
        <p><a class="btn btn-default" href="http://localhost:12849/Avaliacoes/Create">Distribuir &raquo;</a></p>
    </div>
</div>
}else
{

}
