<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://seifa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>seifa.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>seifa</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$seifa</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ProjetoPosterDbContext" Order="4" Enabled="True">
          <Destination Path="Data Source=tcp:lqmuk1rnlb.database.windows.net,1433;Initial Catalog=ProjetoPoster;Persist Security Info=True;User ID=f3lpz@lqmuk1rnlb;Password=M4sterkey" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FATEA.ProjetoPoster.DataAccess.Entity.Context.ProjetoPosterDbContext, FATEA.ProjetoPoster.DataAccess.Entity" MigrationConfiguration="FATEA.ProjetoPoster.DataAccess.Entity.Migrations.Configuration, FATEA.ProjetoPoster.DataAccess.Entity" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:lqmuk1rnlb.database.windows.net,1433;Initial Catalog=ProjetoPoster;Persist Security Info=True;User ID=f3lpz@lqmuk1rnlb;Password=M4sterkey" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FATEA.ProjetoPoster.Web.Models.ApplicationDbContext, FATEA.ProjetoPoster.Web" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ProjetoPoster" Order="6" Enabled="False">
          <Destination Path="Data Source=tcp:lqmuk1rnlb.database.windows.net,1433;Initial Catalog=ProjetoPoster;Persist Security Info=True;User ID=f3lpz@lqmuk1rnlb;Password=M4sterkey" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FATEA.ProjetoPoster.Web.Identity.ProjetoPosterIdentityDbContext, FATEA.ProjetoPoster.Web" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lqmuk1rnlb.database.windows.net,1433;Initial Catalog=ProjetoPoster;Persist Security Info=True;User ID=f3lpz@lqmuk1rnlb;Password=M4sterkey</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ProjetoPoster-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lqmuk1rnlb.database.windows.net,1433;Initial Catalog=ProjetoPoster;Persist Security Info=True;User ID=f3lpz@lqmuk1rnlb;Password=M4sterkey</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ProjetoPosterDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lqmuk1rnlb.database.windows.net,1433;Initial Catalog=ProjetoPoster;Persist Security Info=True;User ID=f3lpz@lqmuk1rnlb;Password=M4sterkey</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
    <_ConnectionStringsToInsert Include="ProjetoPoster" />
  </ItemGroup>
</Project>